/*Typography
=============================================*/

html {
    font-family: "Open Sans", sans-serif;
    font-size: 62.5%;
    line-height: 1;
    font-weight: 100;
}
/*------------------------------------------*/

/*Box model settings
============================================*/

html {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}
/*-----------------------------------------*/

/*Section container + flex
===========================================*/

.width-wrap {
    max-width: 960px;
    margin: 0 auto;
    position: relative;
}

.flex {
    display: flex;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.flex-vertical {
    display: flex;
    justify-content: space-between;
}
/*-----------------------------------------*/


/*General settings
==========================================*/

/*Divider----------------------------*/
.divider-a:after {
    content: "";
    width: 1px;
    height: 14px;
    display: inline-block;
    background: url(../img/divider.png) no-repeat;
    margin: -2px 6px;
    position: absolute;
}

.divider-b:before {
    content: "";
    width: 15px;
    height: 12px;
    display: inline-block;
    background: url(../img/divider.png) no-repeat;
    margin: 1px 1px;
}
/*----------------------------------*/

a {
    text-decoration: none;
}

/*Button ----------------------------*/

.button {
    border: none;
    background: #208fc7;
    color: white;
    height: 24px;
    width: 15%;
    text-align: left;
    border-radius: 4px;
    box-shadow: 0 1px 3px #208fc7;
    cursor: pointer;


}

.btn-arrow {
    background-image: url("../img/btnArrow.png");
    background-repeat: no-repeat;
    background-position: 95% 50%;
    background-size: 10px 10px;
    z-index: 10000;
}

/*----------------------------------------*/


/*SITE HEADER
==========================================*/

header {
    height: 70px;
    box-shadow: 2px 1px 1px rgba(0,0,0,0.23);
    position: fixed;
    top: 0;
    width: 100%;
    background: white;
    z-index: 9999;
}

/*Logo-----------------------------------*/

#logo {

    background: url('../img/comverse-logo.png') no-repeat;
    width: 185px;
    height: 65px;
    display: block;
}

#logo h1 {
    display: none;
    margin: 0;
}

/*------------------------------------*/

/*Navigation bar & Mega Menu-----------------------*/

nav {
    /*background: lightcoral;*/
    font-size: 1.4rem;
    font-weight: 400;
    position: absolute;
    top: 72px;
    left: 27%;
    z-index: 9999;
    width: 50%;
}

.site-navigation {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    z-index: 9998;
    position: absolute;
    /*background: palevioletred;*/
}

#navigation > ul > li {
    padding: 0 1%;
}

.site-navigation a {
    line-height: 2;
    display: block;
}


/*Mega-menu settings----------------------------*/

.mega {
    position: absolute;
    top: 0; left: -54%;
    padding: 3% 8% 3% 8%;
    background-color: white;
    width: 200%;
    display: none;
    z-index: 1;
    box-shadow: 4px 6px 9px 0 rgba(52, 52, 67, 0.91)
}

.mega-item {
    width: 30%;
}

.mega-item a {
    color: darkslategray;
    font-size: 1.4rem;
    line-height: 1.8;
}

.mega-img {
    border-left: 1px solid rgba(121, 128, 106, 0.42);
    border-radius: 2px 0;
    padding-left: 3%;
}

.mega-portfolio-left li:nth-child(1) a,
.mega-portfolio-left li:nth-child(10) a,
.mega-portfolio-right li:nth-child(1) a,
.mega-portfolio-right li:nth-child(6) a {
    
    text-decoration: underline;
    color: #208fc7;
}


/*Mega menu interactivity------------------*/
.site-navigation > li:hover {

    border: 1px solid lightgrey;
    border-bottom: none;
    background-color: white;
    box-shadow: -1px 3px 2px 1px grey;

}

.site-navigation > li:hover > a {

    color: #2671cc;

}


.site-navigation li:hover  .mega {
    display: flex;
}

.mega li:hover a{
    text-decoration: underline;
}


/*--------------------------------------*/


/*Service block - language/login/search --------*/


.service-block {
    width: 15%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;
}


/*Search-------------------------------------*/

#site-search {
    position: relative;
    /*align-self: flex-end;*/
    width: 100%;
}

.site-search input {
    width: 100%;
    border-radius: 6px;
    border: 1px solid lightgrey;
    height: 20px;
    outline: none;
    padding: 0 10% 0 2%;
}

input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

.search-button {
    position: absolute;
    top: 2px;
    right: 2px;
    padding: 3px;
    background: none;
    border: none;
    border-radius: 30%;
    outline: none;
    cursor: pointer;

}

.search-button:before {
    content: "";
    width: 3px;
    height: 20px;
    display: inline-block;
    background: url(../img/divider.png) no-repeat;
    margin: -5px 1px;
}


/*Login-------------------------------------*/


.site-login {
    font-size: 1.2em;
    line-height: 1.4;
    text-decoration: none;
    font-weight: 400;
    vertical-align: middle;
}

.site-login:hover {
    text-decoration: underline;
}

.site-login:before {
    content: "";
    width: 5px;
    height: 12px;
    display: inline-block;
    background: url(../img/divider.png) no-repeat;
    margin: 0 1px;
}

/*Language----------------------------------*/

#site-language {
    width: 44px;
    outline: none;
    border: none;
    background: white;
}


/*--------------------------------------*/


/*MAIN ====================================/*/

main {
    margin-top: 70px;
}

/*MAIN SECTION - #1
==============================================================*/

/*Slider---------------------------------------------------*/

.comverse-main {
    padding-top: 36px;
    overflow: auto;
    transition: 0.75s linear;
}


/*Slides settings ---------------------*/

.main-slider {
    position: relative;
    margin-bottom: 5%;
}

.slide {
    color: white; /*Font color*/
}

.slide h1 {
    font-size: 3.6rem;
    font-weight: 100;
    padding-bottom: 2.4rem;
}

.slide p {
    font-size: 1.4rem;
    line-height: 1.4;
}

.slide h1 b {
    font-weight: 600;
}


/*Slider settings-----------------*/

.slide2,
.slide3,
.slide4 {
    position: absolute;
    top: 0;

}

.slide1,
.slide2,
.slide3,
.slide4 {
    opacity: 0;
    transition: 0.3s ease-in-out;
}

input[id="slide1"]:checked ~ .comverse-main .slide1,
input[id="slide2"]:checked ~ .comverse-main .slide2,
input[id="slide3"]:checked ~ .comverse-main .slide3,
input[id="slide4"]:checked ~ .comverse-main .slide4 {
    opacity: 1;
}

input[id="slide1"]:checked ~ .comverse-main {
    background: url("../img/back-section1.jpg") no-repeat;
    background-position: center 0;
    background-attachment: fixed;

}
input[id="slide2"]:checked ~ .comverse-main {
    background: url("../img/slider/digital-services.png") no-repeat;
    background-position: center 0;
    background-attachment: fixed;
}

input[id="slide3"]:checked ~ .comverse-main {
    background: url("../img/slider/evolve-to-ip4g.jpg") no-repeat;
    background-position: center 0;
    background-attachment: fixed;
}

input[id="slide4"]:checked ~ .comverse-main {
    background: url("../img/slider/smartly-monetize.jpg") no-repeat;
    background-position: center 0;
    background-attachment: fixed;
}

input[id="slide1"]:checked ~ .comverse-main #label1,
input[id="slide2"]:checked ~ .comverse-main #label2,
input[id="slide3"]:checked ~ .comverse-main #label3,
input[id="slide4"]:checked ~ .comverse-main #label4 {
    background: rgba(70,164,220, 0.9);
}

/*----------------------------*/

/*Slider controls and checkboxes------------------------*/

input[type='radio'] {
    display: none;
}

/* Lable settings */
.slider-control {
    margin: 3% 0;
}

.label {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: white;
    border-radius: 3px;
}

.slider-control label:hover {

    background: rgb(187, 222, 255);
    background-size: 80%;

}
/*----------------------------*/

/*Main section "Learn More" Button ---------------------------**/

.slider-button {
    margin-bottom: 2%;
}

.slider-button:hover {
    background-color: #6ac768;
    /*box-shadow: 0 0 3px #6ac768;*/
}



/*Infoboxes-------------------------------**/

.slider-infoboxes {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;

}

.link-wrap {
    width: 31%;
    text-decoration: none;
}

.infobox {
    display: flex;
    flex-direction: column;
    height: 160px;
    padding: 4%;
    border-radius: 6px;
    position: relative;
    white-space: normal;
    box-shadow: 0 0 1px 1px rgba(190, 209, 255, 0.2);
}

.infobox .infobox-header {
    font-size: 1.8rem;
    color: white;
    font-weight: 100;
    font-family: "Open Sans", sans-serif;
    line-height: 1.4;
    letter-spacing: 1px;
    width: 100%;
}

.link-more {
    display: flex;
    align-items: center;
    width: 60%;
    position: absolute;
    left: 4%;
    bottom: 10%;
}

.link-more span {

    font-size: 1.4rem;
    text-decoration: none;
    font-weight: 200;
    margin-left: 3%;
}

.infobox i,
.infobox span {
    color: white;
}


.infobox-left {
    background-color: hsla(331, 88%, 58%, 0.9);
    padding-right: 10%;
}

.infobox-left:hover {
    background-color: hsla(331, 88%, 58%, 1);
}

.infobox-center {
    background-color: hsla(100, 53%, 51%, 0.9);
}

.infobox-center:hover {
    background-color: hsla(100, 53%, 51%, 1);
}

.infobox-right {
    background-color: hsla(24, 100%, 55%, 0.9);
    padding-right: 15%;
}

.infobox-right:hover {
    background-color: hsla(24, 100%, 55%, 1);
}


/*SERVICES SECTION - #2
=========================================================================================*/

.services {

    background: radial-gradient(400px at 50% 40%, rgba(70,164,220, 0.9) 30%,rgba(60,171,222,0.9) 120%,rgba(48,148,194,0.8) 150%), url("../img/solutions-bg.png");
}

.services-header {
    font-size: 3rem;
    color: white;
    font-weight: 100;
    text-align: center;
    padding: 5% 0 7% 0;
}

.services-list {
    display: flex;
    padding-bottom: 5%;
    justify-content: space-around;
    width: 100%;
}

.service {
    width: initial;
    position: relative;
}

.service-link {

    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.service-link span {
    margin-top: 7%;
    font-size: 1.4rem;
    color: white;
    text-align: center;
}

.services-img-hover {
    position: absolute;
    width: 100%;
    opacity: 0;
    transition: 0.1s ease-in-out;
}


.solutions-button {
    width: 16%;
    margin-left: 40%;
    margin-bottom: 5%;
    font-size: 1.2rem;
    font-weight: 100;
    transition: 0.1s ease-in-out;
    z-index: 100;
}

/*Interactivity ---------------------------------*/

.service:hover .services-img-hover {
    opacity: 0.9;

}


.service:hover .services-not-hover {
    opacity: 0;
    transition: 0.4s linear;

}

.solutions-button:hover {

    background-color: hsla(24, 100%, 55%, 1);
    /*box-shadow: 0 0 5px hsla(24, 100%, 55%, 1);*/

}


/*EVENTS SECTION - #3
========================================================*/

.events {
    background: url("../img/events-bg.jpg");
    background-position: 70% 0;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}

.events-header {

    margin: 0;
    padding: 72px 0 60px 0;
    font-size: 3rem;
    font-weight: 100;
    text-align: center;
    letter-spacing: 2px;
    color: white;
}

.events-boxes {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.event-box {
    width: 30%;
    font-size: 2rem;
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.event-box:hover  .event-box-wrap {
    background-color: #cfcac5;
}

.event-box:hover .event-box-link {
    color: black;
    font-size: 120%;
}

.event-box-header {
    display: block;
    font-size: 2.6rem;
    font-weight: 200;
    margin-bottom: 0.5em;
}

.event-box-wrap {
    display: flex;
    background: #a6978f;
    padding: 3%;
    height: 120px;
    box-shadow: 0 0 15px 1px #706057;
    border-radius: 1%;

}

.event-box-date {
    background: #3399cc;
    display: block;
    margin-right: 6%;
    padding: 1%;
    width: 230px;
    text-align: center;
    box-shadow: 0 0 10px 1px hsla(210, 76%, 40%, 0.8);
}

.day {
    padding: 6% 0;
    display: block;
    font-size: 4.8rem;
    font-weight: 400;
    border-bottom: 1px dotted white;
}

.months {
    font-size: 2.2rem;
    font-weight: 100;
    display: block;
    padding-top: 15%;
}



.event-box-text {
    color: black;
    font-size: 1.6rem;
    /*margin-left: 10%;*/
}

.empty-header {
    visibility: hidden;
}

.event-box-link {
    margin-top: 0.5em;
    position: relative;
}

.event-box-link-text {
    font-size: 1.2rem;
    font-weight: 400;
    /*line-height: 1.2;*/
    position: absolute;
    top: 20%;
    margin-left: 2%;
}



/*====END OF SECTION 3======*/

/*STORIES SECTION - #4
=====================================*/

.stories {
    background-color: #ebebeb;
    height: 550px;
}

.stories-header {

    font-size: 3rem;
    text-align: center;
    padding-top: 72px;
    color: darkslategrey;
    margin-bottom: 2em;
}



.stories-boxes-wrap {
    display: flex;
    justify-content: space-around;
}

.stories-box {
    width: 40%;
    max-width: 345px;
    height: 282px;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.stories-box:last-of-type {
    max-width: 225px;
    width: 25%;
}



.big-half {
    width: 100%;
    height: 220px;
    background: white;
    cursor: pointer;
    position: relative;
    transition: all 0.5s linear;
    overflow: hidden;
}


.stories-wrap {
    width: 100%;
    padding: 5%;
}

.stories-big-wrap {
    position: relative;
    /*z-index: 100;*/
}

.big-wrap-top-section {
    margin-bottom: 3%;
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
}

.big-wrap-top-section img {
    border-radius: 3px;
}

.big-wrap-top-section p {
    margin-left: 5%;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8;
}

.big-wrap-bottom-section {
    font-size: 1.4rem;
}

.big-wrap-bottom-section span {
    display: block;
}

.job-name {
    font-weight: 600;
    color: #30a5de;
    margin-bottom: 5px;
}

.job-title {
    color: dimgrey;
    font-weight: 400;
}


.stories-big-wrap-hover {
    position: absolute;
    top: -180px;
    background: #30a5de;
    height: 100%;
    width: 100%;
    font-size: 2.2rem;
    color: white;
    line-height: 1.6;
    padding: 5% 5% 2% 10%;
    transition: all 0.5s linear;
}


.big-half:hover  .stories-big-wrap-hover {
    opacity: 1;
    z-index: 99;
    top: 0;
}

/*Small half of the box--------------------*/

.small-half {
    margin-top: 1rem;
    width: 100%;
    height: 120px;
}

.story-box-center .small-half {
    margin: 0 0 1rem 0;
}

.small-half span {
    height: 95px;
    width: 105px;
    position: relative;
    cursor: pointer;
}


.small-half span:first-of-type {
    background: url('../img/mts.jpg');
}

.small-half span:nth-of-type(2) {
    background: url('../img/Kievstar.jpg');
}

.small-half span:nth-of-type(3) {
    background: url('../img/upc.jpg');
}

.small-half span:after {
    content: '';
    background: url('../img/logos-hover.jpg');
    position: absolute;
    top: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    transition: top 0.4s linear, opacity 0.4s ease-out;
}

.small-half span:hover:after {
    top: 0;
}

/*------------------------------------------------------*/

 .story-box-right {
     /*background: lightgreen;*/
     padding: 0;

 }

 .story-box-right span {

 }

 .story-box-right .big-half {
     padding-bottom: 0;
     margin-bottom: 1%;
 }

 .story-box-right .stories-big-wrap-hover {
     font-size: 1.8rem;
 }

 /*----------------------*/

/*Button-------------------*/

.stories-button {
    width: 22%;
    position: relative;
    left: 40%;
    margin: 5% 0;
    font-size: 1.2rem;
}

 .stories-button:hover {
     /*opacity: 0.5;*/
     background-color: deepskyblue;
 }


 /*Section 5 - Footer
 =========================================================*/

footer {
    background: #222222;
    position: relative;
    height: 320px;
}

.footer-container {
    padding-top: 3%;
    position: relative;
}

.footer-links {
    color: white;
    justify-content: space-between;
    width: 72%;
}

.footer-links-container h3 a {
    font-size: 1.6rem;
    font-weight: 400;
}

.footer-links-container h3 {
    margin-bottom: 10px;
}

.footer-links a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 100;
    letter-spacing: 1px;
    line-height: 2;
}

.footer-links li:hover {
    background: rgba(128, 128, 128, 0.25);
    border-radius: 2px;
}

.footer-links-container ul li {

    /*margin-bottom: 10%;*/

}

.footer-links-right {
    margin-right: 3%;
}

/*Subscribe area----------------------------*/

.footer-subscribe {
    color: white;
    width: 28%;
    background: rgba(128, 128, 128, 0.2);
    padding: 3.5% 2%;
    position: absolute;
    top: 0;
    right: 0;
    height: 320px;
    text-align: center;

}

.footer-subscribe h3 {

    font-size: 1.8rem;
    font-weight: 600;
    color: #3399cc;
    margin-bottom: 10%;

}

.subscribe-date {
    text-align: center;
    display: inline-block;
    margin-right: 4%;
}

.subscribe-day {
    font-size: 4rem;
    font-weight: 600;
}

.subscribe-month {
    font-size: 2rem;
}

.subscribe-top p {
    font-size: 1.2rem;
    font-weight: 100;
    display: inline-block;
    text-align: left;
    margin-bottom: 10%;
    line-height: 1.4;
}

.subscribe-top {
    border-bottom: 1px solid rgba(255, 248, 220, 0.48);
}

.subscribe-bottom {
    padding-top: 10%;
}

.subscribe-input {
    height: 23px;
    overflow: hidden;

}

.subscribe-bottom input[type=text] {
    width: 70%;
    outline: none;
    border-radius: 3px;
    border: 1px solid dimgrey;
    height: 100%;
    padding-left: 2%;
    font-size: 1.2rem;

}

.subscribe-bottom label {
    width: 30%;
    height: 100%;
    display: inline-block;
    background: #208fc7;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
    vertical-align: top;
    margin-left: -5px;
    border-radius: 2px;
    cursor: pointer;

}

.subscribe-bottom label:hover {
    background: rgb(47, 182, 73);
}

/*Social links ------------------------*/

.social-links {
    position: absolute;
    bottom: 5%;
}

.social-links a {
    color: white;
    margin-right: 15%;
}

.social-links i:hover {
    color: #30a5de;
    text-shadow: 0 0 2px 1px rgba(48, 165, 222, 0.75);
}

